#myTable input {
	margin-left: 5px;
}

#myTable {
	border:2px solid green;
	border-collapse: collapse;
	margin: 30px 30px 20px 40px;
	margin-left: auto;
	margin-right: auto;
}
#myTable td, th {
	border:1px solid green;
	padding: 5px;
}
#myTable th {
	color: #fff;
	background-color: #a7c942;
}
#button {
	
	border-radius: 3px;
	border:2px solid grey;
	margin-left: 180px;
}

.editData{
	display:none;
	position:absolute;
	top:20%;
	left:35%;
	background-color: white;
	padding:5%;
	border: 2px solid orange;
	box-shadow: 2px 2px 1px #ffee5b;
	;
}

